# moziloGB
*.*
!.gitignore
!README.md
!index.php
!plugin.css
!admin.php
!DatabaseGB.php
!importGB.php
!insertGBSmiley.js
!jq_comment.js
!js_admin.js
!ShowEntries.php

*/
!lang/
!lang/*
!layouts/
!layouts/comment/*
!layouts/guestbook/*


# algemein
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
