<div class="com-entry-box js-entry-add-new">
    <div><b>{ENTRY_WEB_NAME}</b> &bull; <span class="com-date">{ENTRY_TIME}</span></div>
    <div class="com-entry">{ENTRY_RESPONSE}</div>
    <div class="comment_remove com-comment"><span>{TEXT_COMMENT} </span><div>{ENTRY_COMMENT}</div></div>
    <div class="new_remove com-new-bottom">
        <label for="in-radio-new" class="com-label-button entry-input-error-number">
            <input id="in-radio-new" type="radio" name="{GB_INPUT}number" value="" /> {TEXT_REPLY_TO_ENTRY}
        </label>
    </div>
</div>